@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Montserrat Alternates", sans-serif;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* MAIN  */
.row{
  background-color: #E2EDEC;
}

/* NAVBAR  */
.navbar{
  display: flex;
  flex-direction: row;
  background-color: #3A5553;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #CA9D30;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.log-out {
  display: inline-block;
  background-color: #3A5553;
  color: #fff;
  margin-right: 15px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.logout{
  color: #CA9D30;
  text-decoration: none;
}



/* Sidebar  */
.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}


.sidebar-heading {
  font-size: .75rem;
}

.sidebar{
  height: 124vh;
  background-color: #405C5A;
}

#sidebarMenu{
  background-color: #2C2556;
}

ul.nav.flex-column li.nav-item a.nav-link {
  color: #CA9D30;
}

.btn{
  font-size: 15px;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: #CA9D30; 
}

.icn-size{
  font-size: 15px;  
}

.nav-item .nav-link:hover .fa-solid{
  color: #FFFFFF; 
}

.nav-item span:hover{
  color: #FFFFFF;
}

.nav-item span{
  color: #CA9D30;
}

.sidebar-text{
  font-size: 17px;
}

.nav-link i{
  font-size: 17px;
  color: #CA9D30;
}


/* dahsboard  */
.perwalian-logo{
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 50px 0px 50px 0px;
}

.perwalian-logo img{
  width: 636px;
  height: 500px;
}

.list-dashboard{
  display: flex;
  display: flex;
  flex-direction: column; 
  background-color: #FFFFFF;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-dashboard li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

/* .container-fluid{
  height: 122vh;
} */

.padding-list{
  padding: 20px;
}


/* Button  */

.send{
	padding: 0.8em 1.8em;
	border-radius: 10px;
	background-color: #CA9D30;
	color:#000000;
	font-size: 11px;
	cursor: pointer;
	z-index: 1;
	transition: 0.3s;
	overflow:hidden ;
	position: relative;
  border: none;
}
.send:before{
	content:'';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: 0.5s ease;
	transform: translate(-50%,-50%) rotate(45deg);
	display: block;
	z-index: -1;
	background-color: #E4F2F1;
}
.send:hover::before{
	width: 105%;
}



/* TABLE  */
#formContainer {
  display: none;
  background-color: #FFFFFF;
  padding: 20px 25px 10px 25px;
  border-radius: 8px;
  
}

#toggleButton{
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 50px;
  border-radius: 6px;
  border: none;
  align-items: center;
  background-color: #FFFFFF;
}


.add-mk{
  font-size: 30px;
  padding: 10px;
  color: #CA9D30;
}

.check-box{
  text-align: center;
}
.check-box input[type="checkbox"] {
  margin: 10px; 
  display: block;
  width: 30px;
  height: 18px;
}

.table td {
  padding-top: 10px;
}

/* .table-responsive{
  background-color: #FFFFFF;
} */

.form-control{
  background-color: #F2F2F2;
}

